article { 
    min-height: calc(122vh - 18rem); 
}

header { 
    height: 7rem; 
}

footer { 
    height: 5rem; 
}


.bg-blue-al {
    background-color: #0A5FB4;
}

.text-blue-al {
    color: #0A5FB4;
}

.nav-bar {
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}