article { 
    min-height: calc(110vh - rem); 
}

header { 
    height: 4rem; 
}

footer { 
    height: 4rem; 
}


.bg-blue-al {
    background-color: #0A5FB4;
}

.text-blue-al {
    color: #0A5FB4;
}